.dashboard {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

.searchbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
