.main, .header, .footer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  background-color: rgb(249, 247, 236);
}

.header, .footer {
  background-color: hsl(115, 31%, 23%);
  color: #FFFFFF;
  padding: 2rem 0;
}
