.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  display: flex;
  flex-basis: 50em;
  align-items: center;
}

.searchbox {
  margin: 1rem;
}
